.pokecard {
  margin: 20px;
  padding: 20px;
  height: 250px;
  width: 250px;
  background-image: url('https://cdn.glitch.com/8e163ec9-e92e-4e75-928f-91f66043031d%2Fpokebola.png?v=1629943283523');
  background-size: cover;
  
}
.pokecard h2,h1{
  padding:30px;
  
}
.pokename {
  padding-left: 10px;
}

